.app-page {
  padding: 2rem
}

.app-main-layout {
  position: relative;
  min-height: 100vh
}

.app-sidenav {
  padding-top: 5px;
  position: absolute !important;
  top: 64px !important;
  width: 250px !important;
  transition: transform .3s;
  -webkit-transition: transform .3s;
  bottom: 0 !important;
  height: auto !important
}

.app-sidenav.open {
  -webkit-transform: translateX(0);
  transform: translateX(0)
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px !important;
  padding: 0 2rem;
  z-index: 1000
}

.nav-wrapper {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.nav-wrapper, .navbar-left {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.navbar-left > a {
  margin-right: 1rem
}

.app-content {
  padding-top: 64px;
  padding-left: 250px;
  transition: padding-left .3s;
  position: relative
}

.app-content.full {
  padding-left: 0
}

.sidenav li a.active {
  background-color: #d7ccc8;
  font-weight: 500;
}

.sidenav li a:hover {
  background-color: #4a148c90 !important;
  font-weight: 500;
  color: #fff !important;
}

.avatar-small {
  width: 24px;
}

.dropdown-content li > a > .avatar-small {
  float: left;
  margin: 0 24px 0 0;
}

.btn-dropdown {
  display: flex;
  justify-content: flex-end;
  width: 200px;
  padding: 0 16px;
}

.text-wrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.page-title {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: solid 1px #33333320;
}

.page-title a {
  color: #000;
  opacity: .8
}

.page-subtitle h4, .page-title h3, .page-title h4 {
  margin: 0;
  font-size: 2rem
}

.page-subtitle h4, .page-title {
  margin-bottom: 2rem
}

.app-loader, .currency-line, .page-title {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}

.app-loader {
  width: 100%;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 2rem
}

.empty-layout {
  height: 100vh;
  padding: 2rem;
}

.input-field input:focus + label {
  color: #4a148c !important;
}

.input-field input:focus {
  border-bottom: 1px solid #4a148c !important;
  box-shadow: 0 1px 0 0 #4a148c !important;
}

.input-field .prefix.active {
  color: #4a148c !important;
}

.input-field label {
  height: 0;
}

[type="radio"]:checked + span::after, [type="radio"].with-gap:checked + span::before, [type="radio"].with-gap:checked + span::after {
  border: 2px solid #4a148c !important;
}

[type="radio"]:checked + span::after, [type="radio"].with-gap:checked + span::after {
  background-color: #4a148c !important;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: #4a148c !important;
}

.indigo-text .breadcrumb:before {
  color: #4a148c;
  font-size: inherit;
}

.switch label input[type="checkbox"]:checked + .lever {
  background-color: #4a148c80 !important;
}

.switch label input[type="checkbox"]:checked + .lever::after {
  background-color: #4a148c !important;
}

.switch label .lever:before {
  background-color: #4a148c;
}

.file-field .btn {
  background-color: #4a148c;
}
.file-field .btn:hover {
  background-color: #4a148c;
}

.m-0{
  margin: 0 !important;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.capitalize {
  text-transform: capitalize;
}

#toast-container {
  top: 1rem !important;
  right: 2rem !important;
  left: unset !important;
}

.history-chart {
  max-width: 500px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  align-items: center;
  max-width: 250px;
  cursor: pointer;
}

.flex-container .file-path-wrapper {
  display: none;
}

.flex-container .avatar-edited {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.flex-container .btn {
  float: none !important;
}

.collection-item.numeric {
  min-height: 84px;
  padding-left: 72px !important;
  position: relative;
}

.collection-item .amount {
  font-size: 18px;
}

.collection-item.numeric .counter {
  position: absolute;
  width: 42px;
  height: 42px;
  overflow: hidden;
  left: 15px;
  top: 25px;
  text-align: center;
  font-size: 18px;
  line-height: 42px;
}

.breadcrumb:before {
  color: #4a148c !important;
  vertical-align: middle !important;
}

.dropdown-content li:first-child a{
  border-bottom: 1px solid #33333320;
}

@media only screen and (max-width: 992px) {
  .app-content {
    padding-left: 200px;
  }
  .app-sidenav {
    width: 200px !important;
  }
}

@media only screen and (max-width: 768px) {
  .app-sidenav {
    position: absolute !important;
  }
  .app-content {
    padding-left: 0;
  }
  .app-page {
    padding: 1rem 1rem 3rem;
  }
  .navbar {
    padding: 1rem;
  }
  .nav-wrapper {
    flex-direction: row-reverse;
  }
  .btn-dropdown {
    justify-content: flex-start;
    padding-left: 0;
  }
  .collection-item.numeric {
    padding-left: 50px !important;
    padding-right: 10px !important;
  }
  .collection-item.numeric .counter {
    left: 5px;
    top: 20px;
    font-size: 16px;
  }
  .collection-item .amount {
    font-size: 16px;
  }
  .pagination li a {
    font-size: 1rem;
  }
  .pagination li.previous, .pagination li.next {
    width: 8%;
  }
  .pagination li.previous a, .pagination li.next a {
    padding: 0;
  }
  .empty-layout {
    padding: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .row .col.s12 {
    padding: 0;
  }
  .row .col .row {
    margin-left: 0;
    margin-right: 0;
  }

  #toast-container {
    top: unset !important;
    right: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
  }
}
